@font-face {
    font-family: 'ChunkFive-Regular';
    src: url(ChunkFive-Regular.otf);
  }

*
{
    margin: 0;
}

body
{
    height: 100vh;
    width: 100vw;
    background: rgb(239, 235, 231);
}
nav
{
    padding: 10px;
    width: 100vw;
    height: 2rem;
    text-align: center;
    background-color: #222222;
    color: whitesmoke;
}
nav h1
{
    display: inline-block;
    height: 2rem;
}
.nav-container
{   display: inline-block;
    width: 50vw;
    height: 2rem;
}

.nav-menu
{
    list-style: none;
    width: inherit;
    height: 2rem;
    display: inline-flex;
    text-align: center;
    align-items: center;
}

.nav-item
{
    flex-grow: 1;
    padding: 5px;
    border-right: solid 1px whitesmoke;
}
#page-content
{   display: flex;
    flex-direction: column;
    margin-left: 15%;
    margin-right: 15%;
}

#about
{
    width: 100%;
    text-align: left;
    background-color: wheat;
    padding: 10px;
}
.about-text
{
    font-size: 46px;
    font-family: 'ChunkFive-Regular', sans-serif;
    width: inherit;
}
.about-image
{
    position: relative;
    float: right;
    border-radius: 100%;
    width: 200px;
    height: 200px;
}

#stuff
{
    width: 100%;
    text-align: center;
    background-color: royalblue;
    padding: 10px;
}