html
{
    min-height: 100%;
}
@font-face
{
    font-family: 'ChunkFive-Regular';
    src: url(ChunkFive-Regular.otf);
}

*
{
    margin: 0;
    caret-color: transparent;
}
a
{
    text-decoration: none;
    color: whitesmoke;
}
a:hover
{
    cursor: pointer;
}
body
{
    height: 100%;
    width: 100vw;
    background: #f5ead5;
}
nav
{   top: 0;
    position: fixed;
    padding: 10px;
    width: 100vw;
    height: 2rem;
    text-align: center;
    background-color: #222222;
    color: whitesmoke;
}
nav h1
{
    display: inline-block;
    height: 2rem;
}
.nav-container
{   display: inline-block;
    width: 50vw;
    height: 2rem;
}

.nav-menu
{
    list-style: none;
    width: inherit;
    height: 2rem;
    display: inline-flex;
    text-align: center;
    align-items: center;
}

.nav-item
{
    flex-grow: 1;
    padding: 5px;
    border-right: solid 1px whitesmoke;
}
#page-content
{   margin-top: 5%;
    display: flex;
    flex-direction: column;
    margin-left: 15%;
    margin-right: 15%;
}

#home
{
    width: 100%;
    padding-top: 50px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
}
.heading-style
{
    text-align: center;
    font-family: 'ChunkFive-Regular';
    font-size: 48px;
    width: inherit;
}
.text
{
    margin-top: 20px;
    font-size: 24px;
}
.home-image
{
    position: relative;
    float: right;
    border-radius: 100%;
    width: 200px;
    height: 200px;
}

#stuff
{
    width: 100%;
    padding: 50px 10px 10px 10px;
}

#about
{
    width: 100%;
    height: 700px;
    padding: 50px 10px 10px 10px;
}
.about-content
{
    height: inherit;
    width: 50%;
}